# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Misc
.DS_Store
*.log
.eslintcache
*.keystore
*.jks

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local




# vercel
.vercel

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

.vercel
firebase-applet-config.json